<!-- extende o arquivo do template global base.html -->
{% extends 'base.html' %}

<!-- carregando o módulo humanize do django para datas mais amigáveis -->
{% load humanize %}

<!-- carregando o módulo de filtros personalizados -->
{% load myfilters %}

<!-- definindo o title a ser inserido no base.html -->
{% block title %}{{ post.titulo|title }}{% endblock %}

<!-- criando o bloco content a ser inserido no base.html -->
{% block content %}

<!-- inserindo os dados do post -->
<div class="row pt-5">
  <div class="col-xl"></div>
  <div class="col-xl-8 text-center">
    <h2>{{ post.titulo }}</h2>
    <h5>{{ post.excerto }}</h5>
    <p class="text-muted mt-4">
      <small>
        {{ post.id_autor }} | {{ post.data|naturalday|title }} | {{ post.id_categoria }}
      </small>
    </p>
  </div>
  <div class="col-xl"></div>
</div>

<div class="row pt-5">
  <div class="col-xl"></div>
  <div class="col-xl-8">
    <!-- inserindo a imagem -->
    <!-- se existir imagem cadastrada, adiciona no template -->
    <!-- senão utiliza a imagem default -->
    <img
      class="img-fluid pb-5"
      src="{% if post.imagem %}{{ post.imagem.url }}{% else %}{{ '/media/pictures/default.jpg' }}{% endif %}"
      alt="{{ post.titulo_post }}"
    />

    <!-- inserindo conteúdo do post, proveniente do summernote -->
    {{ post.conteudo|safe }}
  </div>
  <div class="col-xl">
    
  </div>
</div>

<!-- se existirem comentários a serem publicados no post -->
{% if comments %}
<div class="row pt-5">
  <div class="col-xl"></div>
  <div class="col-xl-8">
    <!-- exibindo a quantidade de comentários -->
    <h2 class="my-3">{{ comments.count|plural_comentarios }}</h2>

    <!-- iterando no array de comentários -->
    {% for comentario in comments %}

    <!-- exibindo os dados dos comentários -->
    <h5 class="mb-2 mt-5">{{ comentario.nome }} disse:</h5>
    <small class="text-muted">{{ comentario.data }}</small>
    <p class="mb-1">{{ comentario.comentario }}</p>

    {% endfor %}
  </div>
  <div class="col-xl"></div>
</div>
{% endif %}

<div class="row pt-5">
  <div class="col-xl"></div>
  <div class="col-xl-8">
    <h2 class="my-3">Deixe um comentário</h2>

    <form method="POST" action="#envia_comentario">
      {% csrf_token %}
      <table class="table">
        {{ form }}
        <tr>
          <td colspan="2">
            <!-- incluindo o campo de mensagens -->
            {% include 'partial/_messages.html' %}
            <input
              id="envia_comentario"
              type="submit"
              class="btn btn-primary"
              value="Enviar"
            />
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="col-xl"></div>
</div>

{% endblock %}
